<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
<body>
    <div id="app" class="app"></div>
    
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
